.blog {
    height: 95vh;
    width: 100%;

    &__text {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 15vh;
        margin: 2rem auto;
        width: 40%;

        &__heading {
            font-size: 1.5rem;
            font-weight: 600;
        }

        &__text {
            text-align: center;
        }
    }

    &__posts {
        display: flex;
        justify-content: space-evenly;

        &__post {
            padding-bottom: 1rem;
            width: 25%;

            &__picture {
                display: block;
                width: 100%;
            }

            &__heading {
                font-size: 1.4rem;
                font-weight: 600;
                margin: 0.9rem 0rem;
            }

            &__button {
                background-color: black;
                color: white;
                font-size: 0.7rem;  
                padding: 0.5rem 0.9rem;
            }
        }
    }
}