@import "~bootstrap/scss/bootstrap";

.carousel__item {
    background-color: black;
    height: 85vh;

    &__overlay {
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        position: absolute;
        right: 0; 
        top: 0;
        

        &--1 {
            background-image: url("/img/slide-1.jpg");
        }

        &--2 {
            background-image: url("/img/slide-2.jpg");
        }

        &--3 {
            background-image: url("/img/slide-3.jpg");
        }
    }

    &__caption {
        align-items: left;
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: space-between;
        padding: 2rem;
        position: absolute;
        text-align: left;
        top: 30%;
        width: 30%;

        &__overlay {
            background-color: #8e8d95;
            bottom: 0;
            left: 0;
            opacity: 0.7;
            position: absolute;
            right: 0;
            top: 0;
        }
        
        &__heading {
            font-size: 1.5rem;
            font-weight: 600;
            z-index: 1;
        }

        &__text {
            color: black;
            font-size: 1rem;
            font-weight: 600;
            z-index: 1;
        }

        &__button {
            background-color: black;
            color: white;
            padding: 0.2rem 1rem;
            width: 12rem;
            z-index: 1;
        }
    }
}